<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5">
            <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Login</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="loginForm">
                    <div class="row">
                        <div class="col-md-12">
                        <div class="form-group" [ngClass]="{'has-error': email.invalid && email.dirty}">
                            <label>Email</label>
                            <input type="email" formControlName="email" class="form-control" placeholder="Email">
                        </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-error': password.invalid && password.dirty}">
                                <label>Password</label>
                                <input type="password" formControlName="password" class="form-control" placeholder="Password">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="alert alert-danger" *ngIf="errorMessage">
                                <span><b> Oops!</b> {{errorMessage}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="update ml-auto mr-auto">
                        <button type="submit" (click)="login()" class="btn btn-primary btn-round">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>


  