.form-group.has-error .form-control {
    border-color: red;
}

.form-group input[type=file] {
    opacity : unset !important;
    position: unset !important;
}



.preloader-backdrop {
    position        : fixed;
    top             : 0;
    bottom          : 0;
    left            : 0;
    right           : 0;
    z-index         : 1080;
    background-color: #fff;
}

.preloader-backdrop .page-preloader {
    position   : fixed;
    top        : 40%;
    left       : 50%;
    padding    : 10px 45px 10px 10px;
    margin-left: -60px;
    z-index    : 1005;
    font-family: "Poppins";
    font-size  : 16px;
}

.preloader-backdrop .page-preloader::before {
    content              : '';
    position             : absolute;
    top                  : 50%;
    right                : 10px;
    width                : 20px;
    height               : 20px;
    margin-top           : -10px;
    margin-left          : -10px;
    border-top           : 2px solid #34495f;
    border-right         : 2px solid transparent;
    -webkit-border-radius: 50%;
    border-radius        : 50%;
    -webkit-animation    : loader-rotate 0.6s linear infinite;
    animation            : loader-rotate 0.6s linear infinite;
}

.backdrop {
    position          : fixed;
    top               : 0;
    left              : 0;
    height            : 100%;
    width             : 100%;
    opacity           : 0;
    background-color  : rgba(0, 0, 0, 0.5) !important;
    -webkit-transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition     : opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition        : opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index           : 1004;
    pointer-events    : none;
}

.shined {
    z-index: 1005 !important;
}

body.has-backdrop .backdrop {
    pointer-events: auto;
    opacity       : 1;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin            : 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

table.table {
    font-size: 12px;
}

table.table tr td {
    padding: 5px 7px;

}