<div class="card card_div" *ngIf="projectForm">

    <div class="card-header">
        <b>{{btnTxt}} Project</b>
        <i class="fa fa-times float-right" (click)="activeModal.dismiss('Cross click')" title="Close"
            aria-hidden="true"></i>
    </div>
    <div class="card-body">
        <form [formGroup]="projectForm" enctype="multipart/form-data">
            <div class="row">
                <div class="col-6" *ngIf="projectForm.value.id">
                    <div class="form-group">
                        <label>Project id</label>
                        <input type="text" [readonly]="projectForm.value.id" formControlName="project_name"
                            class="form-control" placeholder="Project id">
                    </div>
                </div>

                <!-- datetimepicker Contract startDate -->
                <div class="col-md-6">
                    <label>Contract Start date</label>
                    <div class="input-group"
                        [ngClass]="{'has-error': contract_start_date.invalid && contract_start_date.dirty}">
                        <input class="form-control" placeholder="yyyy-mm-dd" [readonly]="true"
                            name="contract_start_date" formControlName="contract_start_date" ngbDatepicker
                            #sd="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="sd.toggle()" type="button">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </button>
                        </div>
                        <!-- <pre>startDate: {{ startDate | json}}</pre> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Select profile</label>
                        <select class="form-control" formControlName="profile" id="profile" name="profile">
                            <option value="" disabled>Select profile</option>
                            <option *ngFor="let pf of profile" [value]="pf.id">
                                {{pf.profile_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Weekly limit</label>
                        <input type="number" formControlName="weekly_limit" class="form-control"
                            placeholder="Weekly limit" onKeyPress="if(this.value.length==3) return false;" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Hourly rate</label>
                        <input type="text" formControlName="hourly_rate" class="form-control" placeholder="Hourly rate"
                            appTwoDigitDecimaNumber />
                    </div>
                </div>
                <div class="col-6" *ngIf="!id">
                    <div class="form-group">
                        <label>Select Client</label>
                        <select class="form-control" formControlName="client" id="client" name="client"
                            (change)="getVal($event.target.value)">
                            <option value="">New client</option>
                            <option *ngFor="let cl of client" [value]="cl.id">
                                {{cl.client_name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group" [ngClass]="{'has-error': client_name.invalid && client_name.dirty}">
                        <label>Client Name</label>
                        <input type="text" formControlName="client_name"
                            [readonly]="projectForm.value.client != '' && !id" class="form-control"
                            placeholder="Client name">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group" [ngClass]="{'has-error': email.invalid && email.dirty}">
                        <label>Email address</label>
                        <input type="email" formControlName="email" [readonly]="projectForm.value.client != '' && !id"
                            class="form-control" placeholder="Email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Number</label>
                        <input type="number" formControlName="phone" [readonly]="projectForm.value.client != '' && !id"
                            class="form-control" placeholder="Phone number"
                            onKeyPress="if(this.value.length==10) return false;" />

                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Skype</label>
                        <input type="text" formControlName="skype" [readonly]="projectForm.value.client != '' && !id"
                            class="form-control" placeholder="Skype" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Questionnaire</label>
                        <input #questionnaire type="file" class="form-control" (change)="fileChangeEvent($event)" />
                    </div>
                    <div class="alert alert-danger" *ngIf="errorMessageimg">
                        <span><b> Oops!</b> {{errorMessageimg}}</span>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-4" style=" padding: 1px 2px; " *ngFor="let im of project.additional_files">
                            <div class="card">
                                <img class="card-img-top" src="{{ im.file_url }}" alt="Card image cap">
                                <div class="card-body">
                                    <div class="card-title">{{im.name}}</div>
                                </div>
                            </div>
                            <div cl></div>
                        </div>
                    </div> -->
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Additional files</label>
                        <input #additionalfiles multiple type="file" class="form-control"
                            (change)="additionalFileChangeEvent($event)" />
                    </div>
                    <!-- <div class="alert alert-danger" *ngIf="errorMessage">
                        <span><b> Oops!</b> {{errorMessage}}</span>
                    </div> -->
                    <br>
                    <div class="row" *ngIf="project">
                        <div class="col-md-4" style=" padding: 1px 2px; "
                            *ngFor="let im of project.additional_files;let i = index">
                            <div class="card">
                                <i class="fa fa-times cus" (click)="delteImg(im.id)" title="Close"
                                    aria-hidden="true"></i>
                                <img class="card-img-top" style="object-fit: contain;height: 84px; "
                                    src="{{ im.file_url }}" alt={{im.file_name}}>
                                <div class="card-body">
                                    <div class="card-title">{{im.name}}</div>
                                </div>
                            </div>
                            <div cl></div>
                            <!-- <img src="{{ im.file_url }}" /> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" *ngIf="!id">
                    <div class="form-group">
                        <label>Comments</label>
                        <textarea formControlName="comment" name="comment" id="comment" class="form-control"
                            placeholder="Comments">
                        </textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Google accounts</label>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Google name</label>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <ng-container *ngIf="project">
                <div class="row" *ngFor="let google_account of project.google_accounts">
                    <div class="col-md-5">
                        <div class="form-group">
                            <b>{{google_account.g_acc_id}}</b>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <b>{{google_account.acc_name}}</b>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </ng-container>

            <div class="row" formArrayName="google_accounts"
                *ngFor="let item of projectForm.get('google_accounts').controls; let  i = index; last as j">
                <div class="col-md-5" [formGroupName]="i">
                    <div class="form-group">
                        <input type="number" formControlName="g_acc_id"
                            onKeyPress="if(this.value.length==10) return false;" (keyup)="search($event.target.value)"
                            class="form-control" placeholder="Google account id" />
                    </div>
                </div>
                <div class="col-md-5" [formGroupName]="i">
                    <div class="form-group">
                        <input type="text" formControlName="acc_name" class="form-control" placeholder="Google name" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group plus-field">
                        <button (click)="deleteItem(item,i)"
                            class="ml-2 btn btn-sm btn-outline-danger minus btn-round btn-icon m-0">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button *ngIf="j" (click)="addItem()"
                            class="ml-2 btn btn-sm btn-outline-danger btn-round btn-icon m-0">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12 update ml-auto mr-auto text-right">
                    <button type="submit" (click)="activeModal.dismiss('Cross click')"
                        class="btn  btn-round  ">Close</button>
                    <button type="submit" (click)="save()" [disabled]="btnDisable"
                        class="btn btn-primary btn-round ">{{btnTxt}}</button>
                </div>
                <div class="col-md-12">
                    <div class="alert alert-success" *ngIf="successMessage">
                        <span><b> hurray!</b> {{successMessage}}</span>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
        </form>
    </div>
</div>