<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <div class="card-title">
                    <div class="float-left"> <b>Clients</b></div>
                    <div class="update ml-auto mr-auto">
                        <button type="submit" (click)="addClient()" class="btn btn-primary btn-round pull-right">Add
                            client</button>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>Client name</th>
                            <th>Email</th>
                            <th>Skype</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cl of client">
                                <td>{{cl.client_name}}</td>
                                <td>{{cl.email }}</td>
                                <td>{{cl.skype }}</td>
                                <td>
                                    <button (click)="addClient(cl.id)"
                                        class="btn btn-sm btn-outline-info btn-round btn-icon m-0">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button (click)="delete(cl.id)"
                                        class="ml-2 btn btn-sm btn-outline-danger btn-round btn-icon m-0">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>