<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Google Adword Accounts
          <!-- <button disabled *ngIf="authService.token.user.role_id != 1" (click)="addCount()"
            class="btn btn-sm btn-outline-success btn-round btn-icon float-right m-0">
            <i class="fa fa-plus"></i>
          </button> -->
          <div class="col-md-3 pull-right">
            <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="search()" placeholder="Search" />
            <!-- [debounce]="2000" -->
          </div>
          <!-- <div class="form-group">
            <label>Status</label>
            <select class="form-control" formControlName="acc_status" placeholder="Status">
              <option *ngFor="let st of accStatus" [value]="st">{{st}}</option>
            </select>
          </div> -->

          <div class="col-3">
            <div class="">
              <label>Account Admin</label>
              <select class="form-control" (change)="search()" [(ngModel)]="status_filter" id="status_filter"
                name="status_filter">
                <!-- <option [ngValue]="st" selected>Select</option> -->
                <option *ngFor="let st of accStatus" [ngValue]="st">{{st}}
                </option>
              </select>
            </div>
          </div>
        </h4>
      </div>
      <div class="card-body">
        <div class="text-center">
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(1)">
                <i class="fa fa-angle-left"></i>
                <i class="fa fa-angle-left"></i>
              </a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a (click)="setPage(page)">{{page}}
                <!-- <span class="sr-only">(current)</span> -->
              </a>
            </li>
            <!-- <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li> -->
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.totalPages)">
                <i class="fa fa-angle-right"></i>
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th> Name</th>
              <th> Account ID</th>
              <th> Director</th>
              <th> Manager</th>
              <th>CPA</th>
              <th>CPC</th>
              <th>Clicks</th>
              <th>Cost</th>
              <th>Impression</th>
              <th>Conversion</th>
              <th>Active status</th>
              <th>Total conversion</th>
              <th> </th>
            </thead>
            <tbody>
              <tr *ngFor="let account of pagedItems">
                <td>{{account.acc_name}}</td>
                <td>{{account.g_acc_id}}</td>
                <td>{{account.director_name}}</td>
                <td>{{account.manager_name}}</td>
                <td>{{account.cpa}}</td>
                <td>{{account.cpc }}</td>
                <td>{{account.click }}</td>
                <td>{{account.cost }}</td>
                <td>{{account.impressions }}</td>
                <td>{{account.conversion }}</td>
                <td>{{account.acc_status }}</td>
                <td>{{account.totalConversion }}</td>
                <td>
                  <button *ngIf="authService.token.user.role_id != 1" (click)="addCount(account.id)"
                    class="btn btn-sm btn-outline-info btn-round btn-icon m-0">
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button (click)="infoAccount(account.id)"
                    class="ml-2 btn btn-sm btn-outline-info btn-round btn-icon m-0">
                    <i class="fa fa-info"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-center">
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(1)">
                <i class="fa fa-angle-left"></i>
                <i class="fa fa-angle-left"></i>
              </a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a (click)="setPage(page)">{{page}}
                <!-- <span class="sr-only">(current)</span> -->
              </a>
            </li>
            <!-- <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li> -->
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.totalPages)">
                <i class="fa fa-angle-right"></i>
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>