/* You can add global styles to this file, and also import other style files */


.card-stats .card-footer .stats {
    /* color: #9A9A9A; */
    cursor  : pointer;
}



.sidebar .logo, .off-canvas-sidebar .logo {
    position: relative;
    padding: 7px 0.7rem;
    z-index: 4;
    background: #8080809e;
}